* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.main {
  padding: 50px 120px 0px 120px;
}

.logo {
  font-size: 32px;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

ul {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  gap: 20px;
  font-size: 24px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: rgb(123, 123, 123);
}

p {
  color: rgb(85, 85, 85);
  text-align: center;
  font-weight: 600;
  
}


.nav p{
  background: linear-gradient(
    to right,
    rgba(38, 71, 112, 0.726),
    rgb(229, 229, 229)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.nav ul li a {
  position: relative;
  text-decoration: none;
  padding-bottom: 5px;
}
.nav ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: rgb(85, 85, 85);
  transition: width 0.3s ease-in-out;
}
.nav ul li a:hover::after {
  width: 100%;
}

.home-name {
  font-size: 3.5rem;
  font-weight: 600;
  color: black;
  text-align: center;
  
}

.home-job {
  font-size: 2rem;
  font-weight: 600;
  color: rgb(85, 85, 85);
  text-align: center;
  display: inline-block;
  border-right: 2px solid white;
  padding-right: 5px;
  white-space: nowrap;
  overflow: hidden;
  background: linear-gradient(
    to right,
    rgba(38, 71, 112, 0.726),
    rgb(229, 229, 229)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.home-buttons-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.home-networks {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.button-1 {
  background-color: white;
  color: black;
  padding: 1.25rem 1.25rem;
  border-radius: 25px;
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.5s;
}

.button-1:hover {
  background-color: rgb(85, 85, 85);
  color: white;
}

.button-2:hover {
  background-color: black;
  color: white;
}

.button-2 {
  background-color: rgb(85, 85, 85);
  color: white;
  padding: 1.25rem 1.25rem;
  border-radius: 25px;
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.5s;
}

nav {
  margin-bottom: 80px;
}

.home-img {
  width: 450px;
  height: 450px;
}

.home-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 7rem;
}

.home-description {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.home-networks {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1rem;
}

.home-networks img {
  width: 50px;
  height: 50px;
}

.projects-section {
  margin-top: 120px;
  margin-bottom: 120px;
}

.projects-section h1 {
  font-weight: bold;
  font-size: 3.5rem;
  text-align: center;
}

.projects-section-container {
  margin-top: 80px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 80px;
}

.projects-section-project {
  max-width: 500px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  gap: 20px;
  padding: 40px;
  border: black 2px solid;
  border-radius: 20px;
}

.projects-section-project img {
  width: 100%;
  border-radius: 20px;
}

.projects-section-project h3 {
  text-align: center;
  font-size: 30px;
}

.projects-section-project-buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 40px;
}

.projects-section-project-tags {
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
  justify-content: center;
}

.tag {
  padding: 12px;
  width: 90px;
  font-weight: bold;
  text-align: center;
  background: linear-gradient(
    to right,
    rgba(38, 71, 112, 0.726),
    rgb(229, 229, 229)
  );
  /* background: linear-gradient(
    to right,
    rgba(98, 98, 98, 0.726),
    rgb(222, 222, 222)
  ); */
  border-radius: 10px;
  color: #ffffff;
}

.projects-section-project p {
  font-weight: 500;
}

.stack-section{
  margin-top: 120px;
}

.stack-section-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  }
.stack-section-container img{
height: 85px;
width: 85px;
}